# Ignore everything by default
*
!*.gitignore
# Unignore directories so we can navigate to them
!*/
# Ignore specifics folders
.idea/
# Unignore src directories in any subdirectories
!/src/
!/analyse/

# Unignore files in src directories
!/src/**
!/analyse/**